<div class="w960">
	<section class="head-info clearfix">
		<div class="index-menu clearfix">
			<ul>
				<li><a ng-click="indexc.hideLeftMenu()" ui-sref="index">
						<div></div>
						<p>首页</p>
					</a></li>
				<li><a ng-click="indexc.showLeftMenu()" ui-sref="work_manage">
						<div></div>
						<p>作业管理</p>
					</a></li>
				<li><a ng-click="indexc.showLeftMenu()" href="">
						<div></div>
						<p>上报统计</p>
					</a></li>
				<li><a ng-click="indexc.showLeftMenu()" href="">
						<div></div>
						<p>可疑行为分析</p>
					</a></li>
				<li><a ng-click="indexc.showLeftMenu()" href="">
						<div></div>
						<p>统计分析</p>
					</a></li>
				<li><a ng-click="indexc.showLeftMenu()" href="">
						<div></div>
						<p>查询申请</p>
					</a></li>
				<li><a ng-click="indexc.showLeftMenu()" href="">
						<div></div>
						<p>系统日志</p>
					</a></li>
				<li><a ng-click="indexc.showLeftMenu()" href="">
						<div></div>
						<p>权限控制</p>
					</a></li>
			</ul>
		</div>
		<div class="index-header-tab-container clearfix">
			<div class="index-header-tab">
				<div class="index-header-tab-left">
					<p>接入应用数</p>
				</div>
				<div class="index-header-tab-right">
					<span>{{indexc.indexPara.reg_count}}</span>
					<div>个</div>
				</div>
			</div>
			<div class="index-header-tab">
				<div class="index-header-tab-left">
					<p>数据总量</p>
				</div>
				<div class="index-header-tab-right">
					<span>{{indexc.indexPara.total_count}}</span><div>万条</div>
				</div>
			</div>
			<div class="index-header-tab">
				<div class="index-header-tab-left">
					<p>24小时新增量</p>
				</div>
				<div class="index-header-tab-right">
					<span>{{indexc.indexPara.new_count}}</span><div>条</div>
				</div>
			</div>
			<div class="index-header-tab">
				<div class="index-header-tab-left">
					<p>本系统目前使用量</p>
				</div>
				<div class="index-header-tab-right">
					<span>{{indexc.indexPara.data}}</span><div>条</div>
				</div>
			</div>
		</div>
	</section>

	<section class="index-content-tab">
		<div class="index-content-tab-header clearfix">
			<h2>热门应用</h2>
			<span><a href="">更多></a></span>
		</div>
		<div class="index-content-tab-main-1">
			<ul>
				<li>
					<span>1</span>
					<p>总日志量&nbsp: <span>26358次</span>&nbsp&nbsp平台访问量&nbsp: <span>12,563,263次</span></p>
					<p>昨日上报日志&nbsp: <span>365次</span>|&nbsp&nbsp&nbsp每日日志均量&nbsp: <span class="color-blue">863次</span></p>
				</li>
				<li>
					<span>2</span>
					<p>总日志量&nbsp: <span>26358次</span>&nbsp&nbsp平台访问量&nbsp: <span>12,563,263次</span></p>
					<p>昨日上报日志&nbsp: <span>365次</span>|&nbsp&nbsp&nbsp每日日志均量&nbsp: <span class="color-blue">863次</span></p>
				</li>
				<li>
					<span>3</span>
					<p>总日志量&nbsp: <span>26358次</span>&nbsp&nbsp平台访问量&nbsp: <span>12,563,263次</span></p>
					<p>昨日上报日志&nbsp: <span>365次</span>|&nbsp&nbsp&nbsp每日日志均量&nbsp: <span class="color-blue">863次</span></p>
				</li>
			</ul>
		</div>
	</section>
	<section class="index-content-tab">
		<div class="index-content-tab-header clearfix">
			<h2>热门机构</h2>
			<span><a href="">更多></a></span>
		</div>
		<div class="index-content-tab-main-2">
			<ul class="main-2-table-head">
				<li>排名</li>
				<li>机构名称</li>
				<li>上报日志量</li>
			</ul>
			<ul class="main-2-table-main">
				<li>
					<ul class="clearfix">
						<li><span>1</span></li>
						<li><span>杭州公安警务云平台</span></li>
						<li><span>12312次</span></li>
					</ul>
				</li>
				<li>
					<ul class="clearfix">
						<li><span>2</span></li>
						<li><span>省人口信息系统</span></li>
						<li><span>12312次</span></li>
					</ul>
				</li>
				<li>
					<ul class="clearfix">
						<li><span>3</span></li>
						<li><span>情报信息综合应用平台</span></li>
						<li><span>12312次</span></li>
					</ul>
				</li>
				<li>
					<ul class="clearfix">
						<li><span>4</span></li>
						<li><span>省交通管理综合应用平台</span></li>
						<li><span>12312次</span></li>
					</ul>
				</li>
				<li>
					<ul class="clearfix">
						<li><span>5</span></li>
						<li><span>信息资源云平台</span></li>
						<li><span>12312次</span></li>
					</ul>
				</li>
				<li>
					<ul class="clearfix">
						<li><span>6</span></li>
						<li><span>请求服务平台</span></li>
						<li><span>12312次</span></li>
					</ul>
				</li>
			</ul>
		</div>
	</section>
	<section class="index-content-tab">
		<div class="index-content-tab-header clearfix">
			<h2>热门人员</h2>
			<span><a href="">更多></a></span>
		</div>
		<div class="index-content-tab-main-3">
			<ul class="main-3-table-head">
				<li>排名</li>
				<li>热门人员</li>
				<li>访问量</li>
				<li>查看详情</li>
			</ul>
			<ul class="main-3-table-main">
				<li>
					<ul class="clearfix">
						<li><span>NO.1</span></li>
						<li><span>李子木</span></li>
						<li><span>18万</span></li>
						<li><a href=""><span>查看></span></a></li>
					</ul>
				</li>
				<li>
					<ul class="clearfix">
						<li><span>NO.2</span></li>
						<li><span>李子木</span></li>
						<li><span>18万</span></li>
						<li><a href=""><span>查看></span></a></li>
					</ul>
				</li>
				<li>
					<ul class="clearfix">
						<li><span>NO.3</span></li>
						<li><span>李子木</span></li>
						<li><span>18万</span></li>
						<li><a href=""><span>查看></span></a></li>
					</ul>
				</li>
				<li>
					<ul class="clearfix">
						<li><span>NO.4</span></li>
						<li><span>李子木</span></li>
						<li><span>18万</span></li>
						<li><a href=""><span>查看></span></a></li>
					</ul>
				</li>
				<li>
					<ul class="clearfix">
						<li><span>NO.5</span></li>
						<li><span>李子木</span></li>
						<li><span>18万</span></li>
						<li><a href=""><span>查看></span></a></li>
					</ul>
				</li>
				<li>
					<ul class="clearfix">
						<li><span>NO.6</span></li>
						<li><span>李子木</span></li>
						<li><span>18万</span></li>
						<li><a href=""><span>查看></span></a></li>
					</ul>
				</li>
			</ul>
		</div>
	</section>
	<section class="index-content-tab">
		<div class="index-content-tab-header clearfix">
			<h2>热门IP</h2>
			<span><a href="">更多></a></span>
		</div>
		<div class="index-content-tab-main-4">
			<div echartdir class="chart1" ec-config="indexc.lineConfig" ec-option="indexc.lineOption" ></div>
		</div>
	</section>
</div>