	<div class="left-menu clearfix">
		<div class="left-menu-top">
			<a href=""></a>
		</div>
		<accordion class="accordion">
			<ul>
				<a ng-click="mu.hideLeftMenu()" ui-sref="index"><li>首页</li></a>
				<a ng-click="mu.hideLeftMenu()" ui-sref="index"><li>被操作者查询</li></a>
				<a ng-click="mu.hideLeftMenu()" ui-sref="index"><li>民警审计查询</li></a>
				<a ng-click="mu.hideLeftMenu()" ui-sref="index"><li>终端IP审计查询</li></a>
				<a ng-click="mu.hideLeftMenu()" ui-sref="index"><li>作业管理</li></a>
				<a ng-click="mu.hideLeftMenu()" ui-sref="index"><li>上报统计</li></a>

			</ul>
			<expander class='expander' ng-repeat='expander in mu.expanders' expander-title='expander.title'>
				<a href="" ng-repeat='item in expander.text'><li>{{item}}</li></a>
			</expander>
		</accordion>	
	</div>

	<!-- <div>ng-controller='menuController as mu'</div> -->