<div class="right-content clearfix">
	<div class="work-top-div">
		<h2>上报统计</h2>
		<div class="work-search-bar-div">
			<span class="top-span-rc">作业创建时间段</span>
        	<md-input-container class="rc-input-2">
          		<label>开始时间</label>
          		<md-datepicker ng-model="rc.startDate"  md-max-date="rc.endDate" md-placeholder="开始时间"></md-datepicker>
      		</md-input-container>
      		<md-input-container class="rc-input-3">
          		<label>结束时间</label>
          		<md-datepicker  ng-model="rc.endDate"
          		md-min-date="rc.startDate"
          		md-hide-icons="calendar"
          		 md-placeholder="结束时间"></md-datepicker>
      		</md-input-container>
      		<md-button class="md-raised  rc-button1 md-warn" ng-click="rc.getTasks()" >确定</md-button>
        	<md-input-container class="rc-input-4">
          		<label>--请选择作业--</label>
          		<md-select ng-model="rc.taskId">
            		<md-option ng-repeat="task in rc.tasks" ng-value="task.id">
              			{{task.time+' '+task.title}}
            		</md-option>
          		</md-select>
        	</md-input-container>
        	<md-button class="md-raised  rc-button2 md-warn" ng-click="rc.search()" >查看</md-button>
        	<md-button class="md-raised  rc-button3 md-warn" ng-click="" >管理</md-button>
        	<md-button class="md-raised  rc-button4 md-warn" ng-click="" >导出</md-button>
		</div>
	</div>
	<div class="work-main-content">
		<md-button class="md-raised wm-add-button"  >添加</md-button>
		<table show-filter="true" class="table table-bordered">
			<thead>
				<tr>
					<th class="text-center">序号</th>
					<th class="text-center">标题</th>
					<th class="text-center">作业类型</th>
					<th class="text-center">执行状态</th>
					<th class="text-center">结果</th>
					<th class="text-center">查询条件</th>
					<th class="text-center">请求时间</th>
					<th class="text-center">执行时间</th>
					<th class="text-center">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr class="odd" ng-if="wc.data.length==0">
					<td valign="top" colspan="10" class="text-center">没有检索到有效数据！</td>
				</tr>
				<tr ng-if="wc.data.length>0" ng-repeat="result in wc.data">
			        <td class="text-center">
			            {{$index+1}}
			        </td>
			        <td class="col-md-1 text-center">
			            {{result.title}}
			        </td>
			        <td class="text-center">
			            {{result.typeName}}
			        </td>
			        <td class="text-center" ng-class="{true:'fail',false:''}[result.status=='已废弃']">
			            {{result.status}}
			        </td>
			        <td class="text-center" ng-class="{true:'fail',false:''}[result.successName=='失败']">
			            {{result.successName}}
			        </td>
			        <td class="text-center" >
			            {{result.paramMap}}
			        </td>
			        <td class="text-center">
			            {{result.startTime}}
			        </td>
			        <td class="text-center">
			            {{result.endTime}}
			        </td>
			        <td ng-if="result.status !='未开始'"  class="text-left">
			            <a ng-hide="result.status == '执行中'||result.successName=='失败'" class="icon-watch" href=""></a>
			            <a ng-hide="result.status == '执行中'" class="icon-edit" href=""></a>
			            <a ng-hide="result.status == '执行中'" class="icon-doAgain" href="">再次执行</a>
			            <a ng-hide="result.status == '执行中'" class="icon-delete" href="">删除</a>
			        </td>
			        <td ng-if="result.status=='未开始'" class="text-left">
			            <a class="icon-edit" href=""></a>
			            <a class="icon-doAgain" href="">手动执行</a>
			            <a class="icon-delete" href="">废弃</a>
			        </td>
		    	</tr>
			</tbody>
		</table>
		<!-- <div class="wc-pagination"><pagination conf="wc.paginationConf"><pagination></div> -->
		
	</div>
</div>